# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Release/
/Debug/
/QuickCompile/
/.cproject
/.project
/.RData
/.Rhistory
/segdupoutput-case7.txt
/segdup-trace.csv
/segdupoutput-tuesday.txt
/GuidoEtalTest.txt
/GuidoEtalTest2.txt
/numbers-only-trace.csv
/segdup-trace-function5-logpow.csv
/log.txt

# Output and other text files
*.txt
*.csv

# Local Settings
/.cproject
/.settings/language.settings.xml
