# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Release/
/Debug/
/QuickCompile/
/Test/
.Rproj.user
/experiments/
/analysis/
/.RData
/.Rhistory
/best-map-found.txt
/for-segdup-from-kowhai-h100.txt
/interesting-testcase.txt
/perf.data
/segdup-samples.csv
/segdup-trace.csv
/testing.txt
/trace1.csv
/.gitignore
